<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:property-placeholder location="classpath:jdbc.properties" />

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
                    p:driverClassName="${jdbc.driverClassName}"
                    p:url="${jdbc.url}"
                    p:username="${jdbc.username}"
                    p:password="${jdbc.password}"
        p:validationQuery="${jdbc.validationQuery}"
        p:testOnBorrow="true" />

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
                    p:dataSource-ref="dataSource"
                    p:persistenceXmlLocation="classpath:META-INF/jpa-persistence.xml">
    <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"
                  p:database="${jpa.database}"
                  p:databasePlatform="${jpa.databasePlatform}"
                  p:showSql="${jpa.showSql}"
                  p:generateDdl="${jpa.generateDdl}" />
            </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"
                    p:entityManagerFactory-ref="entityManagerFactory" />

    <context:annotation-config />

    <tx:annotation-driven />

    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

    <!-- DAOs that will be autowired -->
    <bean id="dbMigrationDao" class="org.literacyapp.asr.dao.DbMigrationDaoJpa" />
</beans>
